<div class="row justify-content-center align-items-center no-gutters {{ orientation }}">
  <!-- <google-chart #chart
    id="chart"
    [title]="title"
    [type]="type"
    [data]="chartData"
    [columns]="columnNames"
    [options]="options"
    [width]="width"
    [height]="height">
  </google-chart> -->

  <google-chart #chart
    id="chart"
    [title]="title"
    [type]="type"
    [data]="chartData"
    [columns]="columnNames"
    [options]="options"
    [width]="width"
    [height]="height">
  </google-chart>
</div>