<nav class="row justify-content-center align-items-center">
    <div class="col-12 col-xl-8 col-md-9 row justify-content-center align-items-center px-0 ">

        <div class="col py-2">
            <label class="mat-display-1">Nutrition</label>
        </div>

        <div class="col-auto">
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-auto">
                    <a mat-flat-button
                        color="primary"
                        routerLink="foods">
                        <label class="mat-button">Foods</label>
                    </a>
                </div>
        
                <div class="col-auto">
                    <a mat-flat-button
                        color="accent"
                        routerLink="meals">
                        <label class="mat-button">Meals</label>
                    </a>
                </div>
        
                <div class="col-auto">
                    <a mat-flat-button
                        color="warn"
                        routerLink="weight">
                        <label class="mat-button">Weight</label>
                    </a>
                </div>


            </div>
        </div>


    </div>
</nav>